/* reset */
*{
	margin:0;
	padding:0;
}
.menu{
	background: #252525;

}
.menu a{
	color:white;
	text-decoration: none;
}
.menu li{
	list-style: none;
}
.menu-container{
	max-width: 920px;
	padding:15px;
	margin:0 auto;
}
.menu-container::after, .menu-container::before{
display: table;
content:'';
clear:both;
}

.menu-nav{
	float: right;
}

.menu-nav li{
	display:inline-block;

}
.menu-nav li a{
	padding:15px;
	display: block;
}
.intro{
	padding: 150px 0px;
	text-align: center;
	color:#ffffff;
	background: url("../img/bg-intro.jpg")no-repeat center center;
	background-size:cover;
}
.intro h1{
	text-transform: uppercase;
	font-size:3em;
}

.intro h1::after{
	content: "";
	display: block;
	width:20px;
	height: 4px;
	background:#fff;
	margin:10px auto;
	transition: 1s;
}
.intro h1:hover::after{
	width:300px;
}
.intro p{
	font-size:1.125em;
	font-style: italic;
}

/*sobre */

.sobre{
	padding:60px 0px;
}
.sobre h2{
	padding-bottom:60px;
	text-align: center;
	font-size: 2.25em;
}
.sobre-container{
	max-width: 960px;
	margin:0 auto;
}
.sobre-container::after,
.sobre-container::before{
	content:'';
	display: table;
	clear:both;
}
.sobre-item{
	max-width: 460px;
	float:left;
	margin:0 10px;
}

.sobre-item h3{
	font-size: 2.25em;
	background: #252525;
	width: 220px;
	color:white;
	text-align: center;
	font-weight: 400;
	font-style: italic;
	padding:5px 0;
	top:-30px;
	position: relative;
}
.sobre p{
	font-size: 1.125em;
	text-align: center;
	font-style: italic;
	line-height: 1.4em;
	max-width: 460px;
	margin: 20px auto;
}
/*produtos*/
.produtos{
	background: #e7e4d8;
	padding: 60px 0;
	border-top: 3px solid #d6d3c8;
	border-bottom: 3px solid #d6d3c8;
}
.produtos-container{
	max-width: 960px;
	margin:0 auto;
}
.produtos-item{
	width: 300px;
	margin:0px 10px;
	float:left;
}
.produtos-container::before,
.produtos-container::after{
	content:'';
	display: table;
	clear:both;
}
.produtos-item h2{
	text-align: center;
	font-size: 2.25em;
	margin-bottom: 20px;
}
.produtos-item p{
	font-size: 0.875em;
	line-height: 1.4em;
}
.produtos-item h2::before{
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	margin: 20px auto;
	background: currentColor;
	border-radius: 50%;
	border: 5px solid #e7e4d8;
	box-shadow: 0 0 0 5px currentColor;
}
.produtos-paulista::before{
	color: #492901;
}
.produtos-carioca::before{
	color:#c17139;
}
.produtos-mineiro::before{
	color:#d7a54d;
}
.produtos-btn{
	display: block;
	width: 180px;
	text-transform: uppercase;
	border:3px solid #252525;
	color:#252525;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.125em;
	text-align: center;
	padding:15px 0px;
	margin:20px auto;
	transition: 0.5s box-shadow, 0.5 color;
}
.produtos-btn:hover{
	color:#e7e4d8;
	box-shadow: 180px 0 0 0 #252525 inset;

}
